*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
}

.box{
    /* background:linear-gradient(to top left ,red,blue,green); */
    display: flex;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 2rem 0;
}

.box::-webkit-scrollbar{
    display: none;
}

.box .scroll{
    display: inline-block;
  white-space: nowrap;
  animation: words 12s linear infinite;
}


.box ul h3{
    display: inline-block;
    font-size: 40px;
  -webkit-text-stroke: 1px black;
  color: transparent;
  margin-left: 20px;
    transition: all linear 0.3s;
}
.box ul h3::selection{
    background-color: rgb(89, 255, 89);
    -webkit-text-stroke: 1px black;
    color: black;
}


@keyframes words {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}





