* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    /* max-width: 100vw;
    max-height: 100vh; */
    width: 100%;
    height: 100%;
    /* position: relative; */
}
body{
    overflow: hidden;
}

header {
    height: 9rem;
    /* background-color: red; */
    /* max-width: 100vw; */
    width: 100%;
    position: fixed;
    z-index: 99;
}

header .nav {
    display: flex;
    height: inherit;
    /* max-width: 85vw; */
    width: 85vw;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    gap: 3.5rem;
    /* position: relative; */
}

.nav img {
    height: 70px;
}

header .nav-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    gap: 25px;
    display: flex;
}

header .nav-btn {
    background-color: black;
    padding: 15px 30px;
    border: 3px solid green;
    border-radius: 25px;
    /* margin-right: 10px; */
    font-size: 15px;
    letter-spacing: 1.3px;
    /* display: flex; */
    /* gap: 20px; */
}

#cursor {
    height: 20px;
    width: 20px;
    position: fixed;
    border-radius: 50%;
    background-color: #96c115ba;
    z-index: 10;
    /* cursor: pointer; */
    transition:
        transform 0.25s ease,
        background-color 0.25s ease,
        border 0.25s ease;
}



#crsr-blur {
    height: 300px;
    width: 300px;
    position: fixed;
    background-color: #cce867a7;
    z-index: 10;
    border-radius: 50%;
    filter: blur(90px);
    /* transition: all ease 0.5s; */
}

#cursor,
#crsr-blur {
    pointer-events: none;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
}

#overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

#main {
    position: relative;
    z-index: 9;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.55);
}

#page1 {
    height: 100vh;
    /* FULL SCREEN */
    width: 100%;
    display: flex;
    align-items: center;
    /* vertical center */
    justify-content: center;
    /* horizontal center */
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 10;
}

#page1 h1,
#page1 h3,
#page1 p {
    width: 60%;
    text-align: center;
    text-transform: uppercase;
}

#page1 h1 {
    font-size: 120px;
    font-weight: 900;
    line-height: 0.9;
    letter-spacing: 1.5px;
    position: relative;
}

#page1 h1::before {
    content: "Eat. Drink. Play.";
    position: absolute;
    color: black;
    z-index: -1;
    left: -10px;
    top: -6px;
    -webkit-text-stroke: 2px #95C115;
}

#page1 h3 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
}

#page1 p {
    margin-top: 10px;
    text-align: center;
    width: 50%;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 1.2px;
}

#page2 {
    min-height: 150vh;
    width: 100%;
    z-index: 10;
    padding-bottom: 30px;
}

#page2 .scroller {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

.scroller::-webkit-scrollbar {
    display: none;
}

#page2 .scroll-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: words;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroller h4 {
    display: inline-block;
    font-size: 120px;
    margin: 20px;
    -webkit-text-stroke: 2px #fff;
    color: black;
    font-weight: 800;
    transition: all linear 0.3s;
}

#page2 .scroller h4:hover {
    color: #95C115;
}

@keyframes words {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    padding: 0 30px;
    margin: 6rem;
}

.about-us img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    object-fit: cover;
}

.about-us .about-us-in {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us-in h3 {
    font-size: 50px;
    font-size: 800;
    text-transform: uppercase;
}

.about-us-in p {
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: 1.3px;
}

.cards-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.cards-container {
    perspective: 1000px;
}

.cards {
    transform-style: preserve-3d;
    transition: transform 0.1s ease;
}

.cards-container .cards {
    height: 550px;
    width: 30%;
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    transition: all ease 0.3s;
}

#card1 {
    background-image: url(images/bgimg1.avif);
    background-position: center;
    background-size: cover;
}

#card2 {
    background-image: url(images/bgimg2.avif);
    background-position: center;
    background-size: cover;
}

#card3 {
    background-image: url(images/bgimg3.avif);
    background-position: center;
    background-size: cover;
}

.cards h3 {
    font-size: 2.5rem;
    font-weight: 900;
    position: absolute;
    bottom: 5%;
    left: 20%;
    transform: translateX(-15%);
}

.cards:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
}


.overlay-cards {
    height: 100%;
    padding: 30px 15px 0px 25px;
    width: 100%;
    background-color: #95C115;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    text-overflow: hidden;
    position: relative;
    opacity: 0;
    transition: all ease-in 0.1s;
}

.overlay-cards button {
    height: 20%;
    width: 28%;
    background-color: transparent;
    position: absolute;
    top: -4%;
    right: -4%;
    border-radius: 50%;
}

.overlay-cards h4 {
    font-size: 2.5rem;
    color: #000;
    font-weight: 900;
}

.overlay-cards p {
    color: black;
    font-size: 1rem;
    line-height: 2;
}

.overlay-cards:hover {
    opacity: 1;
}

.desc-bar {
    height: 22rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    background: linear-gradient(to left bottom, #2FA734, #ACDF23);
    margin-top: 10rem;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}

.desc-bar img {
    height: 100%;
    object-fit: cover;
    width: 14%;
    transform: rotate(180deg);
}

.desc-bar .desc-text h3 {
    font-size: 2rem;
    color: #000;
    font-weight: 800;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
}

#page3 {
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    /* margin-top: 4rem; */
}

#food-drink {
    width: 100%;
    display: flex;
    /* background-color: red; */
    padding: 5rem 10rem;
    /* align-items: center; */
    justify-content: center;
    gap: 5rem;
    margin: 2rem 0rem 4rem 0;
    /* background-color: red; */
}

#food-drink .img-sec {
    height: 29rem;
    width: 120rem;
}

.img-sec img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.food-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: fit-content; */
}

.food-desc h2 {
    font-size: 3rem;
    font-weight: 900;
    /* white-space: nowrap; */
}

.food-desc p {
    font-size: 1.3rem;
    line-height: 1.7;
    text-align: justify;
}

.food-desc #coffee-shop {
    display: inline-block;
    color: #fff;
    background-color: transparent;
    border: 2px solid #95C115;
    padding: 1rem;
    border-radius: 2rem;
    transition: all ease 0.3s;
    width: 30%;
    font-weight: 600;
}

.food-desc #coffee-shop:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#page3 .info {
    width: 67%;
    height: 250px;
    /* background-color: red; */
    color: #fff;
    margin: 12rem auto 12rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 10rem; */
    /* margin-bottom:2rem ; */
}

.info p {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    font-style: "gillroy";
    /* text-align:start; */
}

.info img {
    height: 70px;
    width: 70px;
    position: absolute;
}

.info .colon1 {
    top: -14%;
    left: -9%;
}

.info .colon2 {
    bottom: -12%;
    right: -8%;
}

#footer {
    width: 100%;
    background: linear-gradient(to bottom left, #39d63eb0, #bcf11ce0);
    height: 25rem;
    padding: 6rem 1rem 2rem;
}

#footer h1 {
    color: #000;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

#footer .rows {
    display: flex;
    justify-content: center;
    gap: 6.5rem;
}

.row1 img {
    height: 100px;
}

.row4 {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.row4 p {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
}

.row4 h3 {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    width: 20%;
    white-space: nowrap;
}

.footer-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

#footer .row1 img,
#footer .row1 .social-icons,
#footer .row2 h1,
#footer .row3 h1 {
    cursor: pointer;
}